{% extends "base.html" %}
{% load static %}

{% block title %}
   Book Detail
{% endblock title %}


{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> {{ book.name }} Page </h1>
<table align="center" border="2" width="500">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                User
            </th>
            <th>
                Picture
            </th>
        </tr>
        <tr>
            <td>
                {{ book.name }}
            </td>
            <td>
                {{ book.price }}
            </td>
            <td>
                {{ book.user_name }}
            </td>
            <td>
                <img src="{% static book.pic_path %}" width="40" height="40">
            </td>
        </tr>
</table>

{% if book.username != request.user %}
    <h2 align="center">Have the same book?<br>Write your own review!</h2>
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table>
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endif %}
{% for review in book.review_set.all %}
    <p>
        <b>{{ review.rating }}/5</b> <br>
        {{ review.username }} <br>
        Reviewed on {{ review.publishdate }} <br>
        <b>{{ review.title }}</b> <br>
        {{ review.description }} <br>
    </p>
{% endfor %}
{% endblock content %}