{% extends "base.html" %}
{% load static %}

{% block title %}
   Book Search
{% endblock title %}


{% block content %}
<h1 align="center"> Search Page </h1>
{% if submitted %}
<p>Success</p>
{% else %}
<form action="" enctype="multipart/form-data" method="post" novalidate>
   <table>
      {{ form.as_table }}
      <tr>
         <td colspan="2">
            <input type="submit" value="Submit">
         </td>
      </tr>
   </table>
   {% csrf_token %}
</form>
{% endif %}
<a href="/">Back</a>
{% endblock content %}