{% extends "base.html" %}
{% load static %}

{% block title %}
   Book Detail
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Book Exchange</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- ## Jason START ## -->
      <li class="nav-item">
        <a class="nav-link" href="/displaybooks">Display Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postbook">Post Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/requestbook">Request Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/displayrequest">Requested Books</a>
      </li>
      <!-- ## Jason END ## -->
    </ul>
    {% if user.is_authenticated %}
      <a class="nav-link" href="/mybooks">My Books</a>
      <a class="nav-link" href="/mymessages">My Messages</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </div>
</nav>
<!--if statement to give thanks if message was sent-->
{% if message_name %}
<h2 align="center">Thanks {{ message_name }}!</h2>
<h5 align="center">We have received your message and will respond shortly...</h5>
<ol><input type="button" class="btn btn-outline-primary" value="Back" onclick="history.back()"></ol>
<!--else, show book detail and message form-->
{% else %}
<h1 align="center"> {{ book.name }} Page </h1>
<table align="center" width="35%" height="350">
        <tr>
            <td style="padding-top: 30px;">
                <img src="{% static book.pic_path %}" width="275" height="350">
            </td>
            <td style="padding-top: 30px;">
                <b>{{ book.name }}</b><br>
                ${{ book.price }}<br>
                Posted by {{ book.user_name }}
            </td>
        </tr>
</table>
<!--Review Form-->
<h2 class="py-3" align="center">Have the same book?
    <br>Write your own review!
    <br><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Write a review
    </button>
</h2>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if book.username != request.user %}
        <h2 class="py-3" align="center">Have the same book?<br>Write your own review!</h2>
        <form action="" enctype="multipart/form-data" method="post" novalidate>
            <table align="center">
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!--<div class="my-5">-->
<!--    {% if book.username != request.user %}-->
<!--        <h2 class="py-3" align="center">Have the same book?<br>Write your own review!</h2>-->
<!--        <form action="" enctype="multipart/form-data" method="post" novalidate>-->
<!--            <table align="center">-->
<!--                {{ form.as_table }}-->
<!--                <tr>-->
<!--                    <td colspan="2">-->
<!--                        <input type="submit" value="Submit">-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            {% csrf_token %}-->
<!--        </form>-->
<!--    {% endif %}-->
<!--</div>-->
<div class="my-5">
    <table align="center" width="50%">
        {% for review in book.review_set.all %}
            <tr style="border-bottom: 1px solid black;">
                <td style="padding-bottom: 15px; padding-top: 15px; padding-right: 40px; padding-left: 10px;">
                    {{ review.username }} <br>
                    <b>{{ review.rating }}/5</b> <br>
                    Reviewed on {{ review.publishdate }} <br>
                    <b>{{ review.title }}</b> <br>
                    {{ review.description }} <br>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<!--Send Message Form-->
<div class="my-5">
<h2 align="center"> Have a question? <br> Send a message </h2>
<form action="{% url 'contact' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="message-book" value="{{ book.name }}">
    <input type="hidden" name="post-username" value="{{ book.user_name }}">
    <table align="center">
    <tr>
        <td>
            <div class="form-group">
                <textarea name="message" class="form-control" rows="5" cols="50" placeholder="Message" required></textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input class="btn btn-primary" type="submit" value="Send">
        </td>
    </tr>
    </table>
</form>
</div>
{% endif %}
{% endblock content %}
