{% extends "base.html" %}
{% load static %}

{% block title %}
    Requested Books
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Book Exchange</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- ## Jason START ## -->
      <li class="nav-item">
        <a class="nav-link" href="/displaybooks">Display Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postbook">Post Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/requestbook">Request Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/displayrequest">Requested Books</a>
      </li>
      <!-- ## Jason END ## -->
    </ul>
    {% if user.is_authenticated %}
      <a class="nav-link" href="/mybooks">My Books</a>
      <a class="nav-link" href="/mymessages">My Messages</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </div>
</nav>
<div class="container">
  <h2 align="center">Requested Book Page</h2>
  <a href="/requestbook"><h3 align="center">Can't find a book? Request it here</h3></a>
  <table class="table" style="padding: 10px">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Requested Book Name</th>
        <th scope="col">Contact</th>
      </tr>
    </thead>
    <tbody>
      {% for rb in requestedbooks %}
        <tr>
          <td>
              {{rb.name}}
          </td>
          <td>
              {{rb.bookName}}
          </td>
          <td>
              <a href="/sendmessage">Contact</a>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--<table align="center" border="2" width="500">-->
<!--    {% for rb in requestedbooks %}-->
<!--    <tr>-->
<!--        {{rb.bookName}}-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
{% endblock content %}
