{% extends "base.html" %}
{% load static %}

{% block title %}
    Display Books
{% endblock title %}

{% block content %}
<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% for item in item_list %}
        <li>
          <a href="{{item.link}}">{{item.item}}</a>
        </li>
      {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </div>
<h2 align="center">Display Book Page</h2>
<table align="center" border="2" width="500">
    {% for book in books %}
    <tr>
        <td>
            <a href="book_detail/{{ book.id }}">
                    {{ book.name }}
            </a>
        </td>
        <td>
            {{ book.price }}
        </td>
        <td>
            {{ book.username }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}