{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Book Exchange</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- ## Jason START ## -->
      <li class="nav-item">
        <a class="nav-link" href="/displaybooks">Display Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postbook">Post Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/requestbook">Request Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/displayrequest">Requested Books</a>
      </li>
      <!-- ## Jason END ## -->
    </ul>
    {% if user.is_authenticated %}
      <a class="nav-link" href="/mybooks">My Books</a>
      <a class="nav-link" href="/mymessages">My Messages</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </div>
</nav>
<h1 align="center">Welcome to Book Exchange</h1>
<p align="center" style="font-size: 20px">Book Exchange is a website that makes it easier for users
to exchange books.</p>
<p align="center" style="font-size: 20px">Here are some of the features you can use:</p>
<div class="container">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Display Books</h5>
        <p class="card-text">See all books being sold in one place</p>
        <a href="/displaybooks" class="btn btn-primary btn-sm">See Books</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Post A Book</h5>
        <p class="card-text">Easily sell a book you don't need</p>
        <a href="/postbook" class="btn btn-primary btn-sm">Sell A Book</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Request A Book</h5>
        <p class="card-text">Can't find a book? Request here</p>
        <a href="/requestbook" class="btn btn-primary btn-sm">See Requested Books</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
